{% extends 'model-page.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
{% if request.user.groups.all.0.name == "Secretária" %}

<link rel="stylesheet" href="{% static 'css/section.css' %}">
<h3>Lista de Protocolo</h3>
<hr>
<hr style="color: white;">
<section style="margin-top: 10px;">
    <div class="table-responsive">

        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Justificativa</th>
                <th>Biotério</th>
                <th>Espécie</th>
                <th>Qtd</th>
                <th>Status</th>
                <th>Opções</th>
            </tr>
    
            {% for protocolo in object_list %}
            <tr>
                <td>{{ protocolo.id }}</td>
                <td>{{ protocolo.justificativa }}</td>
                <td>{{ protocolo.bioterio }}</td>
                <td>{{ protocolo.especie }}</td>
                <td>{{ protocolo.quantidade }}</td>
                <td>{{ protocolo.status }}</td>
                <td>
                 <a href="{% url 'editar-protocolo' protocolo.pk %}" class="btn btn-warning btn-sm" >Editar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum protocolo registrado.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    {% else %}
        <a href="{% url 'logout' %}" class="btn btn-primary" >Logout</a>
        <hr>
        <h2>Você não tem permissão por favor faça o login como Secretária</h2>
    
    {% endif %}

</section>


{% endblock %}