{%extends 'model-page.html'%}
{% load static %}

{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<hr>
{% if request.user.groups.all.0.name == "Pesquisador" %}
<h3>Bem vindo Pesquisador</h3>
<hr>
<div class="cards-list">

  <a href="{% url 'lista-protocolo' %}">
    <div class="card 2">
      <div class="card_image">
        <img  src="{% static 'img/pesquisador/protocols.png' %}" />
        </div>
      <div class="card_title title-black">
        <p style="font-size: 20pt;">Protocolos</p>
      </div>
    </div>
  </a>
  
    
  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-white">
        <p>bloco 2 em desenvolvimento</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-white">
        <p> bloco 3 em desenvolvimento</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-white">
        <p> bloco 3</p>
      </div>
    </div>
  </a>
  
  
    </div>

{% elif request.user.groups.all.0.name == "Administrador" %}
<h3>Bem vindo Administrador</h3>
<hr>
<div class="cards-list">

  <a href="{% url 'cadastro-sec' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/secretaria/secretaria.png' %}" />
        </div>
      <div class="card_title ">
      </div>
    </div>
  </a>
  
    
  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-black">
        <p>em desenvolvimento</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-black">
        <p> em desenvolvimento</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-black">
        <p style="color: black;"> em desenvolvimento</p>
      </div>
    </div>
  </a>
  
</div>


{% elif request.user.groups.all.0.name == "Secretária" %}
<h3>Bem vindo Administrador</h3>
<hr>
<div class="cards-list">

  <a href="{% url 'index' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/secretaria/secretaria.png' %}" />
        </div>
      <div class="card_title ">
      </div>
    </div>
  </a>
  
    
  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-black">
        <p>em desenvolvimento</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-black">
        <p> em desenvolvimento</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-black">
        <p style="color: black;"> em desenvolvimento</p>
      </div>
    </div>
  </a>
  
</div>

  
{% else %}
  
{% endif %}

{% endblock %}