{%extends 'model-page.html'%}
{% load static %}

{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<style>
  p {
  font-size: 20pt;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
  }
</style>
<hr>
{% if request.user.groups.all.1.name == "Pesquisador" or request.user.groups.all.0.name == "Pesquisador" %}
<h3>Bem vindo Pesquisador :)</h3>
<hr>
<div class="cards-list">

  <a href="{% url 'lista-protocolo' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/pesquisador/protocols.png' %}" />
        </div>
      <div class="card_title title-black">
        <p style="font-size: 20pt;">Protocolos</p>
      </div>
    </div>
  </a>
  {% if request.user.groups.all.0.name == "Avaliador" %}
    <a href="{% url 'listar1' %}">
      <div class="card 2" style="background-color: black;">
        <div class="card_image">
          <img  src="{% static 'img/pesquisador/protocols.png' %}" />
          </div>
        <div class="card_title title-black">
          <p style="font-size: 20pt;">Protocolos para Analise</p>
        </div>
      </div>
    </a>
  {% endif %}
    </div>

{% elif request.user.groups.all.0.name == "Administrador" %}
<h3>Bem vindo Administrador :)</h3>
<hr>
<div class="cards-list">

  <a href="{% url 'cadastro-sec' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/secretaria/secretaria.png' %}" />
        </div>
        <div class="card_title title-black">
          <p> Secretária</p>
        </div>
      <div class="card_title ">
      </div>
    </div>
  </a>
  
    
  <a href="{% url 'lista-bioterio' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/admin/bioterio.png' %}"/>
        </div>
        <div class="card_title title-black">
          <p> Bioterios</p>
        </div>
    </div>
  </a>
  <a href="{% url 'pesqList' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/admin/president.png' %}" />
        </div>
      <div class="card_title title-black">
        <p>Presidente</p>
      </div>
    </div>
  </a>

  
</div>


{% elif request.user.groups.all.0.name == "Secretária" %}
<h3>Bem vindo Secrétaria :)</h3>
<hr>
<div class="cards-list">

  <a href="{% url 'lista-pesq' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/secretaria/avaliador.png' %}" />
        </div>
        <div class="card_title title-black">
          <p> avaliador</p>
        </div>
      <div class="card_title ">
      </div>
    </div>
  </a>
  

  <a href="{% url 'protocolo-pendente' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/secretaria/protocol.png' %}" />
        </div>
      <div class="card_title title-black">
        <p> Protocolos Pendentes</p>
      </div>
    </div>
  </a>

  <a href="{% url 'protocolo-aprovado' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/secretaria/protocols.png' %}" />
        </div>
      <div class="card_title title-black">
        <p> Protocolos Aprovados</p>
      </div>
    </div>
  </a>

  <a href="{% url 'encaminhar' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/secretaria/check-list.png' %}" />
        </div>
      <div class="card_title title-black">
        <p>Encaminhar Protocolo</p>
      </div>
    </div>
  </a>

  <a href="{% url 'encaminharAP' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/secretaria/protocols.png' %}" />
        </div>
      <div class="card_title title-black">
        <p>Encaminhar Protocolo Aprovados</p>
      </div>
    </div>
  </a>
  
</div>


{% elif request.user.groups.all.0.name == "Presidente" %}
<h3>Bem vindo Secrétaria :)</h3>
<hr>
<div class="cards-list">

  <a href="{% url 'lista-pesq' %}">
    <div class="card 2" style="background-color: black;">
      <div class="card_image">
        <img  src="{% static 'img/secretaria/avaliador.png' %}" />
        </div>
        <div class="card_title title-black">
          <p> Emitir Parecer</p>
        </div>
      <div class="card_title ">
      </div>
    </div>
  </a>
  






  
</div>

  
{% else %}
  
{% endif %}

{% endblock %}