{%extends 'model-page.html'%}
{% load static %}

{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<h3>Inicio</h3>
<hr>
<div class="cards-list">

  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-white">
        <p>bloco 1</p>
      </div>
    </div>
  </a>
  
    
  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-white">
        <p>bloco 2</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-white">
        <p> bloco 3</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="card 2">
      <div class="card_image">
        <img  src="" />
        </div>
      <div class="card_title title-white">
        <p> bloco 3</p>
      </div>
    </div>
  </a>
  
  
    </div>

{% endblock %}