{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <title>Clinica Sigcaue</title>
    </head>

    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="#" alt="">
            </div>
        </header>

    {% if request.user.groups.all.1.name == "Pesquisador" or request.user.groups.all.0.name == "Pesquisador" %}
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="{% url 'index' %}" class="nav__logo">
                        <i class='bx bx-layer nav__logo-icon'></i>
                        <span class="nav__logo-name">Gerenciador</span>
                    </a>

                    <div class="nav__list">
                        


                        <a href="{% url 'cadastrar-protocolo' %}" class="nav__link">
                            <i class='bx bx-bookmark nav__icon' ></i>
                            <span class="nav__name">Cadastrar Protocolo</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-folder nav__icon' ></i>
                            <span class="nav__name">em desenvolvimento</span>
                        </a>

                    </div>
                </div>

                <a href="{% url 'logout' %}" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Sair</span>
                </a>
            </nav>
        </div>

    {% elif request.user.groups.all.0.name == "Administrador" %}
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="{% url 'index' %}" class="nav__logo">
                        <i class='bx bx-layer nav__logo-icon'></i>
                        <span class="nav__logo-name">Inicio</span>
                    </a>

                    <div class="nav__list">

                        <a href="{% url 'cadastro-sec' %}" class="nav__link">
                            <i class='bx bx-bookmark nav__icon' ></i>
                            <span class="nav__name">Cadastrar Secretária</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-folder nav__icon' ></i>
                            <span class="nav__name">em desenvolvimento</span>
                        </a>

                    </div>
                </div>

                <a href="{% url 'logout' %}" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Sair</span>
                </a>
            </nav>
        </div>

        {% elif request.user.groups.all.0.name == "Secretária" %}
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="{% url 'index' %}" class="nav__logo">
                        <i class='bx bx-layer nav__logo-icon'></i>
                        <span class="nav__logo-name">Gerenciador</span>
                    </a>

                    <div class="nav__list">
                        <a href="{% url 'index' %}" class="nav__link">
                            <i class='bx bx-bookmark nav__icon' ></i>
                            <span class="nav__name">Pesquisadores</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-folder nav__icon' ></i>
                            <span class="nav__name">em desenvolvimento</span>
                        </a>

                    </div>
                </div>

                <a href="{% url 'logout' %}" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Sair</span>
                </a>
            </nav>
        </div>

    {% endif %}
     <div id="background-sec">
        {% block conteudo%}
        <h1>Components</h1>
        {% endblock %}

    </div>
        

        
        <!--===== MAIN JS =====-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        {% block js %}

        {% endblock %}
    </body>
</html>