{% extends 'model-page.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

<style>
    .table-responsive {
        width: 100%;
    }
</style>

{% if request.user.groups.all.0.name == "Secretária" %}

<h3>Lista de Pesquisadores</h3>
<hr>
<div class="table-responsive">

    <table class="table table-striped">
        <tr>
            <th>username</th>
            <th>email</th>
            <th>idade</th>
            <th>cpf</th>
            <th>universidade</th>
            <th>Grupo</th>
            <th>Status</th>
            <th>avaliador</th>
        </tr>

        {% for pesquisador in object_list %}
        <tr>
            <td>{{ pesquisador.username }}</td>
            <td>{{ pesquisador.email }}</td>
            <td>{{ pesquisador.idade }}</td>
            <td>{{ pesquisador.cpf }}</td>
            <td>{{ pesquisador.universidade }}</td>
            <td>{{ pesquisador.groups.all }}</td>
            <td>
                <a href="{% url 'update-pesq' pesquisador.pk %}" class="btn btn-success btn-sm">Adicionar Status</a>
            </td>
            <td>{{pesquisador.is_avaliador}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhum Pesquisador registrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <a href="{% url 'logout' %}" class="btn btn-primary" >Logout</a>
    <hr>
    <h2>Você não tem permissão por favor faça o login como secretária</h2>

{% endif %}

{% endblock %}