{% extends 'model-page.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

<style>
    .table-responsive {
        width: 100%;
    }
</style>

{% if request.user.groups.all.0.name == "Administrador" %}

<h3>Lista de Pesquisadores</h3>
<hr>
<a href="{% url 'cadastrar-protocolo' %}" class="btn btn-primary btn-sm">Cadastrar</a>
<div class="table-responsive">

    <table class="table table-striped">
        <tr>
            <th>username</th>
            <th>email</th>
            <th>idade</th>
            <th>cpf</th>
            <th>universidade</th>
            <th>Status</th>
            <th>Opções</th>
        </tr>

        {% for pesquisador in object_list %}
        <tr>
            <td>{{ pesquisador.username }}</td>
            <td>{{ pesquisador.email }}</td>
            <td>{{ pesquisador.idade }}</td>
            <td>{{ pesquisador.cpf }}</td>
            <td>{{ pesquisador.universidade }}</td>
            <td>{{ pesquisador.groups.all }}</td>
            <td>
                <a href=" " class="btn btn-warning btn-sm" >Editar</a>
                <a href=" " class="btn btn-danger btn-sm" >Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhum Pesquisador registrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %}

{% endblock %}